
label { display: flex; justify-content: start; margin: 1rem; }
.containerSexe, label{ display: flex; }
.containerInfoPromo > * { display: block;}
input:invalid { color: red; }
input:valid { color: darkgreen;}