h1 { text-align: center; }
h1, h2 { padding-top: 1rem; margin-bottom: 1rem; }
.container { border: 2px solid darkslategrey; margin-top: 1rem; padding-bottom: 1rem; }
.form-check { display: flex; justify-content: space-around; }
#mesBoutons { justify-content: space-around; margin-top: 2.5rem;}